rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regole di sicurezza Cookie Tracker:
    // Ciascun utente autenticato può accedere esclusivamente ai propri dati (profilo e sottocollezioni).
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /{subcollection}/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
